<section class="wrap_contacto">
    <div class="container">
        <div class="col-md-5">
            <div class="color_white tex-center">
                <h3>Contactanos</h3><br>
                <h4><p><span class="glyphicon glyphicon-earphone" aria-hidden="true"> 01 8000 200 200 </span></p></h4>
                <h4><p><span class="glyphicon glyphicon-envelope" aria-hidden="true"> contact@dev.com</span></p></h4>
                <h4><p><span class="glyphicon glyphicon-map-marker" aria-hidden="true"> La Victoria - Casi Coronamos</span></p></h4>
            </div>
        </div>
        <div class="col-md-5">
            <div class="form_box">
                <h3>Escribenos <span class="glyphicon glyphicon-send" aria-hidden="true"></span></h3>
                <form>
                    <label>Nombre</label>
                    <input type="text" class="form-control" placeholder="Ingresa tu nombre" required="" />
                    <br />
                    <label>Correo</label>
                    <input type="email" class="form-control" placeholder="Ingresa tu correo" required="" />
                    <br />
                    <label>Mensaje</label>
                    <textarea class="form-control" placeholder="Que nos quieres decir?" required=""></textarea>
                    <hr />
                    <a class="btn btn_enviar">Enviar <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a>
                    <a class="btn btn_cancelar" routeLink="/lugares">Cancelar</a>
                </form>
            </div>
        </div>
    </div>
</section>

                
             