<section class="wrap_contacto">
    <div class="well">
        <a routerLink="/lugares">Lugares</a> / Crear
    </div>
    <div class="container">
        <h2>Crear <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span></h2>
        <div class="row">
            <div class="col-md-5">
                <br />
                <div>
                    <label>Nombre</label>
                    <input type="text" class="form-control" [(ngModel)]="lugar.nombre" />
                    <br />
                    <label>Distancia</label>
                    <input type="number" class="form-control" [(ngModel)]="lugar.distancia" />
                    <br />
                    <label>Cercania</label>
                    <input type="number" class="form-control" [(ngModel)]="lugar.cercania"  />
                    <br />
                    <label>Descripcion</label>
                    <textarea class="form-control" [(ngModel)]="lugar.descripcion"></textarea>
                    <br />
                    <label>Plan</label>
                    <input type="text" class="form-control" [(ngModel)]="lugar.plan" />
                    <hr>
                </div>
            </div>
            <div class="col-md-5">
                <div>
                    <h3>Datos de Direccion</h3>
                    <br />
                    <label>Calle y numero</label>
                    <input type="text" class="form-control" [(ngModel)]="lugar.calle" />
                    <br />
                    <label>Cuidad</label>
                    <input type="text" class="form-control" [(ngModel)]="lugar.cuidad" />
                    <br />
                    <label>Pais</label>
                    <input type="text" class="form-control" [(ngModel)]="lugar.pais" />
                </div>
            </div>
        </div>
        <button type="submit"class="btn btn-primary" (click)="guardarLugar()">Enviar </button>
        <button type="button"class="btn btn-secondary"routerLink="/"> Cancelar</button>       
    </div>
</section>